[class^="profileEffects"], [class^="avatarDecoration"] { /* Remove invasive profile decorations */
    display: none;
}

.theme-dark .children_fc4f04:after { /* Remove channel title fade for long channel names */
    display: none;
}

[class^="toolbar_"] a { /* Hide help icon in top right */
    display: none;
}

[class^="buttons_"] > button { /* Remove nitro button in the message box */
    display: none;
}

[class^="actionButtons"] > button:first-child { /* Hide Camera Action */
    display: none;
}

[class^="actionButtons"] button:nth-child(3) { /* Hide Activity Action */
    display: none;
}

[class^="lottieIcon"] { /* Fixed Share Screen action button being a weird size */
    width: 18px;
    height: 18px;
}

/* Hide Nitro and Shop buttons */
[class^="privateChannels"] ul[class^="content"] > li:nth-child(3),
[class^="privateChannels"] ul[class^="content"] > li:nth-child(4) {
    display: none;
}

/* Hide server banners */
div#channels > [class^="content_"] > div:first-child,
[class^="animatedContainer_"] {
    display: none;
}

[class^="jumpToPresentBar"] { /* Fix Jump to Present button not being right aligned */
    right: 0;
}

[class^="separator"] { /* remove right click menu separators */
    display: none;
}

[class^="itemsContainer"] > [class^="footer"] {
    display: none;
}
