.progress-bar, .theme-dark {
    --background-primary: #1a1d2c;
    --background-secondary: #151426;
    --background-secondary-alt: #151426;
    --background-modifier-form-field: #151426;
    --code-background: #151426;

    --interactive-normal: #151426;
    --interactive-hover: #505072;
    --background-modifier-border-hover: #505072;
    --toggle-thumb-color: #1a1d2c;

    --tab-outline-color: #657b83;
    --divider-color: #657b83;
    --divider-color-hover: #93b5af;
    --modal-border-color: #657b83;
    --background-modifier-border: #505072;
    --background-modifier-border-focus: #505072;

    --icon-color: #93b5af;
    --text-normal: #93b5af;
    --text-muted: #657b83;

    --r-main-color: var(--text-normal);
    --r-heading-color: var(--text-normal);
    --r-heading-text-transform: none;
}

.workspace-drawer-vault-actions > :first-child { /* Hide help button */
    display: none;
}

.sidebar-toggle-button.mod-right { /* Hide right sidebar */
    display: none;
}

.mod-sidedock .workspace-tab-header-container {
    border-bottom: none;
}

.mod-sidedock .workspace-tab-header-container > div:not(:last-child) {
    display: none;
}

/* Slides modifications */
.slides > section:not(:first-child):not(:last-child) {
    text-align: left;
    font-size: x-large;
}

.slides-container .backgrounds {
    background-color: var(--background-primary);
}

.slides .copy-code-button,
.slides .slides-close-btn {
    display: none;
}

.slides code {
    background: var(--code-background);
    border-radius: var(--code-radius);
    padding: 0 4px;
}
